<div class="mat-elevation-z1">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Test String</th>
      <td mat-cell *matCellDef="let element" class="left-text">  
          {{element.body}}
      </td>
    </ng-container>

    <ng-container matColumnDef="statusCode">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element" class="left-text"> 
        {{element.statusCode}}
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
</div>
