table {
  table-layout: fixed;
  width: 100%;
  place-self: center;
  background-color: rgb(255, 255, 255);
  border:1px outset rgba(128, 128, 128, 0.688);
}
th, td{
  word-wrap: break-word;
}
td{
  color: black;
  border-color:rgba(128, 128, 128, 0.688);
}
th{
  color:rgb(255, 255, 255);
  border-color:rgba(128, 128, 128, 0.688);
}
tr{
  border-color:rgba(128, 128, 128, 0.688);
  height:5vh !important;
}
mat-elevation-z1{
  border-radius: 100px;
}
mat-cell {
  justify-content: left;
  color: black;
}
mat-header-cell{
  color: black;
}
mat-row{
  background-color: rgb(255, 0, 0);
  color: black;
}
.header-row-class{

}
.left-text {
  text-align: left;
}
.status-class{
  text-align: center;
}
.table-header{
  background-color: rgb(255, 195, 76);
}

mat-paginator{
  color: black;
  background-color:transparent;
  
}

.mat-paginator-icon-buton{
  color: yellow;
}

mat-toolbar{
  background-color: transparent;
}
