<div class="outer-report-class">
  <div class="inner-report-class">
    
      <h1 class="status-class">Employee Status Update</h1>
    
    <div class="mat-elevation-z1;">
      <table id = "dataTable" mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header class="table-header">Date</th>
      <td mat-cell *matCellDef="let element" class="left-text">{{element.date}}</td>
    </ng-container>

    <ng-container matColumnDef="projects">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header class="table-header"> Projects </th>
      <td mat-cell *matCellDef="let element" class="left-text"> 
        {{element.projects}}
      </td>
    </ng-container>

    <ng-container matColumnDef="report_status">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header class="table-header" > Status </th>
      <td mat-cell *matCellDef="let element" class="left-text"> 
        <div [innerHTML] = "element.report_status"></div>
      </td>
    </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  <mat-toolbar>
  <div class = "bottom-bar-left">
  <!--<button mat-raised-button>
    Filter <i class="material-icons">filter_alt</i>
      </button>-->
      <mat-form-field appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div class = "bottom-bar-center">
      <button mat-raised-button color = "primary" (click)="openDialog()">Add Report</button>
      <button class = "testButton" mat-raised-button color = "primary"(click) = "openPDF()">Export Data</button>
  </div>
  <div class = "bottom-bar-right">
    <mat-paginator [pageSizeOptions]="[10]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
  </div>
</mat-toolbar>  

</div>
