.wrapper{
    width:100%;
    border:1px solid gray;
    border-radius:30px;
    width:fit-content;
    background-color: white;
}

.buttons-row{
    display:flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}