.wrapper{
    border:1px solid gray;
    border-radius:30px;
    background-color: white;
    max-width: 90%;
}
.column-wrapper{
    display:flex;
    flex-direction: row;
}
.title-name-date-column{
    display:flex;
    flex-direction:column;
}
.buttons-row{
    display:flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}