/* You can add global styles to this file, and also import other style files */

/* Basic prelim styling for the top-bar component
    based off the Angular.io/start tutorial */
.mat-toolbar{
    height: 13%;
    background-color:rgb(0, 0, 0);
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* styling for the background on Reports page */
.outer-report-class{
    height:100%;
    background-color:rgb(255, 195, 76);
    display:flex;
    align-items: center;
    justify-content: center;
}
/* styling for the outer part of the report table*/
.inner-report-class{
    width:75vw;
    background-color:rgb(255, 255, 255);
    padding:30px 40px 30px 40px;
    display:flex;
    flex-direction: column;
    border-radius:30px;
}
html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.buttons-row{
    display:flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
.mat-mdc-dialog-container {
    --mdc-dialog-container-color: #ffffff;
}

.mat-mdc-dialog-container {
    --mdc-dialog-container-color: #ffffff;
}
