<h2>Heroes</h2>
<div class="search">
  <label for="hero-name">Hero name: </label>
 <!--<input type="text" [(ngModel)]="heroName" id="hero-name"> -->

  <button type="button" [disabled]="!heroName"
    (click)="add(heroName)">Add hero</button>
  <button type="button" (click)="search(heroName)">
    Search
  </button>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->