<mat-toolbar>
  <div>
    <img
    width="100"
    alt="Risen One Consulting Logo"
    src="https://static.wixstatic.com/media/c80d2a_187b9d3885ee446e88541bd3b5dcd681~mv2.png/v1/fill/w_178,h_176,
    al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c80d2a_187b9d3885ee446e88541bd3b5dcd681~mv2.png"
    />
  </div>
    <div>
      <h1>Risen One Employee Portal</h1>
    </div>
    <div class ="top-bar-buttons">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>testing</span>
        </button>
        <button mat-menu-item routerLink="/login-component" (click) = "logout()" routerLinkActive="active-link">
          <mat-icon>exit_to_app</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu icon">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu2="matMenu">
          <button mat-menu-item (click)="testFunction()">
          <mat-icon>settings</mat-icon>
          <span>menu 2 item 1</span>
        </button>
        <button mat-menu-item routerLink="/login-component" routerLinkActive="active-link">
          <mat-icon>exit_to_app</mat-icon>
          <span>menu 2 logout</span>
        </button>
      </mat-menu>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>